{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}

{% block body %}
    <style>
        .btn-circle.btn-sm {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            padding-left: -100px;
        }
    </style>
    <h1>Beer index</h1>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary" href="{{ path('beer_new') }}">Ajouter une bière</a>
        </div>
       <div class="col-2">
           <a class="btn btn-primary" href="{{ path('rank_new') }}">Ajouter un tier</a>
       </div>
    </div>



    {% for rank,beers in rankBeers %}

        {% if beers.beers[0] is defined %}
            <div class="row">
                <a style="margin-left: -7em" aria-controls="rank{{ beers.beers[0].tier.id }}" aria-expanded="false" data-toggle="collapse" href="#rank{{ beers.beers[0].tier.id }}" class="mt-2 col-1 btn btn-secondary btn-circle btn-sm"> + </a>
                <h1 class="col-1" style="color :{{ beers.beers[0].tier.color }}"> {{ rank }} </h1>
            </div>

            <div class="collapse show" id="rank{{ beers.beers[0].tier.id }}">
                {% for beer in beers.beers %}
                    <div class="">
                        <h3> {{ beer.name }}</h3>
                        <p>{{ beer.description }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>

        {% endif %}
    {% endfor %}


{% endblock %}
