{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}

{% block body %}
    <style>
        .btn-circle.btn-sm {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            padding-left: -100px;
        }
        body {
            background-image:url({{ asset('img/taverne.jpg')}});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        a {
            color: black;
            text-decoration: none; /* no underline */
        }
        a:hover{
            color: black;
        }

    </style>
    <h1>Beer index</h1>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary" href="{{ path('beer_new') }}">Ajouter une bière</a>
        </div>
       <div class="col-2">
           <a class="btn btn-primary" href="{{ path('rank_new') }}">Ajouter un tier</a>
       </div>
    </div>


<div class="card mt-2" style="padding-left: 10em; padding-top: 5em; border-radius: 20px; background-color: rgba(255,255,255,0.8);">
    {% for rank,beers in rankBeers %}

        {% if beers.beers[0] is defined %}
            <div class="row">
                <a style="margin-left: -7em" aria-controls="rank{{ beers.beers[0].tier.id }}" aria-expanded="false" data-toggle="collapse" href="#rank{{ beers.beers[0].tier.id }}" class="mt-2 col-1 btn btn-secondary btn-circle btn-sm"> + </a>
                <h1 class="col-12 text-left" style="color :{{ beers.beers[0].tier.color }}"> {{ rank }} </h1>
            </div>

            <div class="collapse show" id="rank{{ beers.beers[0].tier.id }}">
                {% for beer in beers.beers %}
                    <div>
                        <h3> <a href="{{ path('beer_edit', {'id': beer.id}) }}">{{ beer.name }}</a></h3>
                        <p>{{ beer.description }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>

        {% endif %}
    {% endfor %}

</div>
{% endblock %}
