{% extends 'base.html.twig' %}
{% block title %}Marchés{% endblock %}

{% block body %}

    <div id="info" data-marcheid="{{ marche.id }}"></div>
    <div id="nomMarche">
        <h1>{{ marche.name }}</h1>
        <h3 class="blockquote">{{ marche.description }}</h3>

    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mt-2">
            <a style="font-size: 25px; background-color: forestgreen; border-color: forestgreen" class="btn btn-primary btn-lg active"
               href="{{ path('marche_edit', {'id': marche.id }) }}"
               role="button" aria-pressed="true">Modifier ce marché
            </a>
        </div>
    {% endif %}

    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset(marche.image) }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .cancelBuy{
            background-color: #5a6268;
            border-color: #5a6268;
        }

        .buyProduct{
            background-color: #1e7e34;
            border-color: #1e7e34;
            border-width: 2px;
        }

        .interfaceAchat {
            display: none ;
            padding-bottom: 5px ;
            margin-top: 15px;
            margin-left: -10px;
            margin-bottom: -10px
        }
    </style>

    <div class="produitsDuMarche">
    {% for produit in produits %}
    <div class="card le-produit mb-4" >
            <div class="mt-1 tamere">
                <div class="my-5 ml-3">{{ produit }}</div>
                <img src="{{ asset(produit.getImage()) }}" class="image my-5">
                <div class="my-5 mx-3">{{ produit.type }}</div>

            </div>


            <div class="text-center offset-4"> <p class="text-center prix-produit col-6">{{ produit.prix }} couronnes</p></div>
            {% if app.user %}
                <div class="text-center">

                    <button role="button" data-id="{{ produit.id }}" class="buyProduct btn btn-primary">
                        Acheter
                    </button>
                    <!-- SI LE MEC EST ADMIN AFFICHER LE LIEN POUR MODIFIER LE PRODUIT -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('produit_edit', {'id': produit.id} )  }}"
                           role="button" class="btn btn-primary" style="background-color: tomato; border-color: tomato; border-width: 2px">
                            Modifier le produit
                        </a>
                    {% endif %}

                    {#                    DIV INTERFACE D'ACHAT INCROYABLE C OUF TOUT CE QUON PEUT FAIRE AVEC LE POUVOIR DE L'AMITIÉ #}
                    <div class="badge-success" style="display: none" id="interfaceAchat{{ produit.id }}">
                        <p style="color:black">Etes-vous sûr de vouloir acheter ce produit ?</p>

                        <a class="btn btn-primary cancelBuy" data-id="{{ produit.id }}">Non</a>

                            <a data-id="{{ produit.id }}"
                               class="btn btn-primary oui">Oui</a>
                            <div class="row">
                                <div class="offset-3 col-6" data-price="{{ produit.prix }}">
                                    <div data-id="{{ produit.id }}" class="less btn btn-primary col-1"> - </div>
                                    <span id="{{ produit.id }}" class="col-1"> 1 </span>
                                    <div data-id="{{ produit.id }}" class="more btn btn-danger col-1"> + </div>
                                </div>
                            </div>
                            <p style="color: #1b1e21" class="text-center align-content-center">
                                <span style="color:skyblue" id="crowns{{ produit.id }}">{{ app.user.couronnes - produit.prix}}</span> couronnes après l'achat
                            </p>
                        <div id="success-buy{{ produit.id }}" style="display:none">
                            <p>Bien joué pour cet achat fructueux, fais-en bon usage ^^</p>
                        </div>
                        <div id="fail-buy{{ produit.id }}" style="display:none">
                            <p>Pas assez de cash sale clochard</p>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>


    <script>
        (function() {
            'use strict';
            $(() => {
                $(document).on('click','.less',function (event) {
                    let id = $(this).data("id");
                    let nb = parseInt($('#'+id).text(),10) - 1;
                    let price = $(this).parent().data("price");
                    let currentCrowns =  parseInt($('#crowns'+id).text(),10);
                    if (nb <= 0){
                        return;
                    }
                    $('#'+id).text(nb);
                    $('#crowns'+id).text(currentCrowns+price)
                });

                $(document).on('click','.more',function () {
                    let id = $(this).data("id");
                    let nb = parseInt($('#'+id).text(),10) + 1;
                    let price = $(this).parent().data("price");
                    let currentCrowns =  parseInt($('#crowns'+id).text(),10);
                    if (nb <= 0){
                        return;
                    }
                    $('#'+id).text(nb);
                    $('#crowns'+id).text(currentCrowns-price);
                });


                $(document).on('click','.oui',function (event) {
                    event.preventDefault();
                    let marcheId = $('#info').data("marcheid");
                    let produitId = $(this).data("id");
                    let nb = parseInt($('#'+produitId).text(),10);
                    let id = $(this).data("id");
                    let price = $(this).parent().data("price");
                    $.ajax({
                        url: '/achat-produit/'+produitId+'/'+marcheId+'/'+nb,/*$(this).attr('action')*/
                        method: 'get',/*$(this).attr('method')*/
                        dataType: 'JSON'
                    }).done(function (data) {
                        console.log(data);
                        if(data.success === true) {
                            $('#nbCouronnes').text(data.currentCouronnes);
                            $('#crowns'+id).text(data.currentCouronnes - data.price);
                            //compteur quantité achat
                            $('#'+id).text(1);

                            $('#fail-buy' + produitId).fadeOut(500);
                            $('#success-buy' + produitId).fadeOut(500);
                            $('#success-buy' + produitId).fadeIn(500);
                        } else {
                            $('#success-buy' + produitId).fadeOut(500);
                            $('#fail-buy' + produitId).fadeOut(500);
                            $('#fail-buy' + produitId).fadeIn(500);
                        }
                    });
                    // window.location.href = '/achat-produit/'+produitId+'/'+marcheId+'/'+nb;
                });

                $(document).on('click','.buyProduct',function (event) {
                    event.preventDefault();
                    let produitId = $(this).data("id");
                    let interfaceAchat = "#interfaceAchat"+produitId;
                    $(interfaceAchat).fadeIn(20);
                });

                $(document).on('click','.cancelBuy',function (event) {
                    event.preventDefault();
                    let produitId = $(this).data("id");
                    let interfaceAchat = "#interfaceAchat"+produitId;
                    $(interfaceAchat).fadeOut(20);
                });



            });
        }) ();

    </script>


{% endblock %}