{% extends 'base.html.twig' %}
{% block title %}Marchés{% endblock %}

{% block body %}
    <div id="nomMarche">
        <h1 class="text-lg-center">{{ marche.name }}</h1>
        <h3 class="blockquote">{{ marche.description }}</h3>

        {% if app.user %}
        <a style="position:absolute; right: 401px; top: 82px; background-color: forestgreen; border-color: forestgreen"
           href="{{ path('marche_edit', {'id': marche.id }) }}" class="btn btn-primary btn-lg active"
           role="button" aria-pressed="true">Modifier ce marché</a>
        {% endif %}
    </div>

    <ul class="produitsDuMarche">
        {% for produit in produits %}
            <div class="le-produit mb-4" >
                <div class="mt-2 tamere">
                    <div class="my-5 ml-3">{{ produit }}</div>
                    <img src="{{ asset(produit.getImage()) }}" class="image my-5">
                    <div class="my-5 mx-3">{{ produit.type }}</div>
                </div>
            </div>
        {% endfor %}
    </ul>


{% endblock %}