{% extends 'base.html.twig' %}
{% block title %}Marchés{% endblock %}

{% block body %}

    <div id="nomMarche">
        <h1>{{ marche.name }}</h1>
        <h3 class="blockquote">{{ marche.description }}</h3>

    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mt-2">
            <a style="font-size: 25px; background-color: forestgreen; border-color: forestgreen" class="btn btn-primary btn-lg active"
               href="{{ path('marche_edit', {'id': marche.id }) }}"
               role="button" aria-pressed="true">Modifier ce marché
            </a>
        </div>
    {% endif %}

    <ul class="produitsDuMarche">
        {% for produit in produits %}
            <div class="card le-produit mb-4" >
                <div class="mt-1 tamere">
                    <div class="my-5 ml-3">{{ produit }}</div>
                    <img src="{{ asset(produit.getImage()) }}" class="image my-5">
                    <div class="my-5 mx-3">{{ produit.type }}</div>

                </div>

                <style>
                    body {
                        color:black;
                        background-color:white;
                        background-image:url({{ asset(marche.image) }});
                        background-attachment:fixed;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .cancelBuy{{ produit.id }}{
                        background-color: #5a6268;
                        border-color: #5a6268;
                    }

                    .buyProduct{{ produit.id }}{
                        background-color: #1e7e34;
                        border-color: #1e7e34;
                        border-width: 2px;
                    }

                    .interfaceAchat{{ produit.id }}{
                        display: none ;
                        padding-bottom: 5px ;
                        margin-top: 15px;
                        margin-left: -10px;
                        margin-bottom: -10px
                    }
                </style>

                <script>

                    $(document).ready(function(){
                        {#let id{{ produit.id }} = {{ produit.id }};#}
                        let interfaceAchat{{ produit.id }} = ".interfaceAchat".concat('',{{ produit.id }});
                        let buyProduct{{ produit.id }} = ".buyProduct".concat('',{{ produit.id }});
                        let cancelBuy{{ produit.id }} = ".cancelBuy".concat('',{{ produit.id }});

                        $(buyProduct{{ produit.id }}).click(function (){
                            $(interfaceAchat{{ produit.id}}).fadeIn(20);
                            {#$("#interfaceAchat".concat('' ,{{ produit.id }})).fadeIn(500);#}
                        });

                        $(cancelBuy{{ produit.id }}).click(function () {
                            $(interfaceAchat{{ produit.id }}).hide(300);
                        });
                    });
                </script>

                <div class="text-center offset-4"> <p class="text-center prix-produit col-6">{{ produit.prix }} couronnes</p></div>
                {% if app.user %}
                <div class="text-center">

                    <button role="button" class="buyProduct{{ produit.id }} btn btn-primary">
                        Acheter
                    </button>
                    <!-- SI LE MEC EST ADMIN AFFICHER LE LIEN POUR MODIFIER LE PRODUIT -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('produit_edit', {'id': produit.id} )  }}"
                           role="button" class="btn btn-primary" style="background-color: tomato; border-color: tomato; border-width: 2px">
                            Modifier le produit
                        </a>
                    {% endif %}

{#                    DIV INTERFACE D'ACHAT INCROYABLE C OUF TOUT CE QUON PEUT FAIRE AVEC LE POUVOIR DE L'AMITIÉ #}
                    <div class="badge-success interfaceAchat{{ produit.id }}">
                        <p style="color:black">Etes-vous sûr de vouloir acheter ce produit ?</p>

                        <button class="btn btn-primary cancelBuy{{ produit.id }}">Non</button>

                        {% if app.user.couronnes < produit.prix  %}
                            <a href="{{ path('produit_achat', {'id': produit.id,'marcheId': marche.id}) }}"
                               class="btn btn-primary" id="confirmAchatProduit" style="background-color:red; border-color: red">Oui</a>
                        {% else %}
                            <a href="{{ path('produit_achat', {'id': produit.id,'marcheId': marche.id}) }}"
                               class="btn btn-primary" id="confirmAchatProduit">Oui</a>

                            <p style="color: #1b1e21" class="text-center align-content-center">
                                <span style="color:skyblue">{{ app.user.couronnes - produit.prix}}</span> couronnes après l'achat
                            </p>
                        {% endif %}
                    </div>

                </div>
                {% endif %}

            </div>
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function () {
            var href;

            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                href = $(this).attr("href");
                $("#confirmModal").modal("show");
            });

            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("hide");
            });

            $("#confirmModalYes").click(function(e) {
                window.location.href = href;
            });

        });

    </script>


{% endblock %}