<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

</head>
{% block body %}


    <style>
        body{
            background-image:url({{ asset('img/geralt_de_la_rive.jpg') }});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment:fixed;


    }

    #imagesnoyeurs{
        margin-left: 100px;
        display:flex;
        flex-direction: row-reverse;
    }

    #noyeur1{
        margin-right: {{ decalmargin1 }}px;
        width: 250px;
        padding: 0;

    }
    #noyeur2{
        margin-right: {{ decalmargin2 }}px;
        width: 200px;
        margin-top: 70px;
    }
    #noyeur3{
        margin-right: {{ decalmargin3 }}px;
        margin-left: 90px;
        width: 280px;
    }
    #noyeur4{
        margin-right: {{ decalmargin4 }}px;
        width: 200px;
        padding: 0;
    }
    #noyeur5{
        margin-right: {{ decalmargin5 }}px;
        width: 300px;

    }
    #noyeur6{
        margin-right: {{ decalmargin6 }}px;
        width: 200px;
    }
</style>
    <div id="imagesnoyeurs" class="img-fluid">
        <img class="col-4 noyeur" id="noyeur1" src="{{ asset('img/le noyeur.png') }}">
        <img class="col-4 noyeur" id="noyeur2" src="{{ asset('img/le noyeur.png') }}">
        <img class="col-6 noyeur" id="noyeur3" src="{{ asset('img/le noyeur.png') }}">
        <img class="col-4 noyeur" id="noyeur4" src="{{ asset('img/le noyeur.png') }}">
        <img class="col-4 noyeur" id="noyeur5" src="{{ asset('img/le noyeur.png') }}">
        <img class="col-2 noyeur" id="noyeur6" src="{{ asset('img/le noyeur.png') }}">
    </div>

    <button style="z-index: 9999; width: 100%; position: fixed;
     top:0; height: 100%; color: #000000; background-color:#218838;
     border-top: 0px; border-left: 0px;
     border-bottom: 0px; border-right:0px" class="btn btn-primary text-center" id="activer-aggro">
      <span style="font-size: 10em">CLIQUE</span>
    </button>

    <script type="text/javascript">
        let compte_Noyeurs = 6;
        $(document).ready(function () {
            $(document).on('click', '#activer-aggro', function () {
                $(this).fadeOut('fast');
                let audio  = new Audio('music/lelelei.mp3');
                audio.play();
                //Redirection vers tamere
                window.setTimeout(function(){
                    window.location.href = '/fail-aggro';
                }, 10000 );

                $(document).on('click', '.noyeur', function () {
                    compte_Noyeurs--;
                    $(this).fadeOut('fast');
                    if(compte_Noyeurs === 0){
                        //TODO ajax ajout 100 couronnes et supprimer le compte si pas réussi

                        window.location.href = '/success-aggro';
                    }
                });

            });

        });
    </script>
{% endblock %}

