{% extends 'base.html.twig' %}
{% block title %} {% if editMode %}Modification d'article{% else %}Création d'article{% endif %}{% endblock %}
{% block body %}

    {% if editMode %}
        <h1>Modification d'article</h1>
    {% else %}
        <h1>Création d'article</h1>
    {% endif %}

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr':{'placeholder':"Titre de l'article"} } ) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.content, {'attr':{'placeholder':"Contenu go poi"} } ) }}
    {{ form_row(formArticle.image, {'attr':{'placeholder':"Image de mr.Reese full-hd"} } ) }}


    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {% else %}
            Créer l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}



{% endblock %}