{% extends 'base.html.twig' %}
{% block title %}Discussion avec le collègue brolstar{% endblock %}

{% block body %}
    <div class="img-collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar1.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar2.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar3.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar4.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar5.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar6.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar7.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar8.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar9.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar10.jpg') }}" alt="collegue-brolstar">
        <img src="{{ asset('img/colleguebrolstar/brolstar11.jpg') }}" alt="collegue-brolstar">
    </div>

{% endblock %}