<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Titre{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{asset('css/bootstrap/js/bootstrap.js')}}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Packopening</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tb') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('marais') }}">Marais <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('marche') }}">marché <span class="sr-only">(current)</span></a>
                    </li>
                    {% if app.user %}
                    <li>
                        <a class="nav-link" href="{{ path('energie') }}"> Puiser de l'énergie</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%  if is_granted('IS_AUTHENTICATED_FULLY')  %}
                        <li class="nav-item">
                            <p class="welcomeUser" style="font-size: 1.3em"><b> Bienvenue {{  app.user.username }} !</b></p>
                            <p class="mt-n4 nbCouronnes"> <b>Vous avez {{ app.user.couronnes }} couronnes</b></p>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_login') }}>Se connecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div id="richard">
        <a  class="btn-danger" href="http://richard-ostrowski.eu/web/cours/coursCSS.html">Site du collègue richard allez donner de la force les san</a>
        </div>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container bottom-padding">
            {% block body %}{% endblock %}
        </div>

        <footer class="text-center">

            <p>marché de postegrechine <br> Tous droits pas réservés hihi ^^</p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>

</html>
