<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Titre{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <style>
            .container{
                display: flex;
                justify-content: center;
                position: relative;
                left: -250px;
                /*border-style: solid;
                border-width: 0px;
                padding: 10px 500px 0px 20px;*/

            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Enchère-poi Symfony</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-right : 10px; background-color : rgba(3, 140, 76, 0.8);
                     border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px">

                        <a class="nav-link" href="{{ path('encheres') }}">Enchères en cours <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="margin-left : 5px; margin-right: 10px ;background-color : rgba(3, 140, 76, 0.8);
                     border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px;">

                        <a class="nav-link" href="{{ path('enchere_create') }}">Créer une enchère</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item" style="margin-left: 5px; margin-right: 10px;background-color : rgba(3, 140, 76, 0.8);
                            border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                        </li>

                        <li class="nav-item" style="margin-left: 5px; margin-right: 10px;background-color : rgba(3, 140, 76, 0.8);
                        border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px">
                        <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                        </li>

                    {% else %}
                        <li class="nav-item" style="margin-left: 5px; margin-right: 10px;background-color : rgba(3, 140, 76, 0.8);
                        border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px">
                            <a class="nav-link" href="{{ path('achat_pack_jetons') }}">Acheter Jetons</a>
                        </li>

                        <li class="nav-item" style="margin-left: 5px; margin-right: 10px;background-color : rgba(3, 140, 76, 0.8);
                         border-top-left-radius: 5%; border-bottom-left-radius: 5%;  border-top-right-radius: 5%;
                         box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); margin-bottom: 5px">
                            <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
