{% extends 'base.html.twig' %}
{% block title %}{{ enchere.id }}{% endblock %}
{% block body %}

    <section style="margin-bottom: 30px">
        <h2 style="font-size: 40px">Enchère n°{{enchere.id}}</h2>
        <div style="font-family: 'Calisto MT', 'Arial'">
            </br>
            <hr>
            <!-- SI LENCHERE EST FINIT FAIRE AUTRE CHOSE  -->
            Enchère en cours, commencée le  {{ enchere.dateDebut | date("d/m/Y")}}
            à {{ enchere.dateDebut | date("H:i") }}, se termine le {{ enchere.dateFin | date("d/m/Y")}}
            à {{ enchere.dateFin | date("H:i")}} <br>
            Prix du produit : {{ enchere.produit.prix }}€
        </div>
        <img src="{{ enchere.produit.image }}" alt="image de l'article">

    <hr>
    </section>

{% endblock %}