{% extends 'base.html.twig' %}

{% block title %}Hello PackOpeningController!{% endblock %}

{% block body %}
    <style>
        body{
            background-image: url("{{ asset('img/elprimo.png') }}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        #megaboite:active {
            animation: shake 0.5s;
            animation-iteration-count: 4;
        }

        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }

        .loot{
            position:fixed;
            top:20%;
            left:35%;

        }

        .loot img{
            display:none;
            width: 4vw;
            height: 4vw;
        }

        #messagepackopening{
            font-size: 50px;
            display:none;
            background-color:magenta;
        }

        #messagepackopening p{
            color: #916319;
        }

        #coutPackOpening{
            position:fixed;
            top:10%;
            right: 75%;
            font-size: 45px;
            color: cornflowerblue;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000000;
            font-family: "Cooper Black", serif;
        }

    </style>

    {#    TODO ANIMATION DE MERDE PROGRESS BAR LA LE TRUC LA MAIS SI CE MEC LA....<div class="progress">#}
    {#        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
    {#    </div>#}
    {#    <div class="progress">#}
    {#        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>#}
    {#    </div>#}
    {#    <div class="progress">#}
    {#        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
    {#    </div>#}
    {#    <div class="progress">#}
    {#        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>#}
    {#    </div>#}
    {#    <div class="progress">#}
    {#        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
    {#    </div>#}
    <div class="loot">
        <img id="loot0" class="img-fluid m-3" style="height: 50%"
             data-toggle="tooltip" data-placement="top">
        <img id="loot1" class="img-fluid m-3" style="height: 50%"
             data-toggle="tooltip" data-placement="top">
        <img id="loot2" class="img-fluid m-3" style="height: 50%"
             data-toggle="tooltip" data-placement="top">
        <img id="loot3" class="img-fluid m-3" style="height: 50%"
             data-toggle="tooltip" data-placement="top">
        <img id="loot4" class="img-fluid m-3" style="height: 50%"
             data-toggle="tooltip" data-placement="top">
    </div>

    <div class="text-center img-fluid">
        <img draggable="false" id="megaboite" src="{{ asset('img/megaboite.png') }}" alt="megaboite">
    </div>

    <div class="text-center" id="coutPackOpening">
        <p>Prix d'un pack opening : 200 Couronnes</p>
    </div class="text-center">

    <div class="card" id="messagepackopening">
        <p>Tu crois que le pack est gratuit clochard ??? Eh ouai c trop jvais péter un cable T___T</p>
    </div>


    <script type=text/javascript>
        (function() {
            'use strict';
            $(() => {
                let tId = 0;
                let nbCouronnes = {{ app.user.couronnes }}
                var produitTab;
                //AUDIOS
                let audio1  = new Audio('music/get_powerpoints_01v2.ogg');
                let audio2  = new Audio('music/get_powerpoints_02v2.ogg');
                let audio3  = new Audio('music/get_powerpoints_03v2.ogg');
                audio1.playbackRate = 1.5;
                audio2.playbackRate = 1.5;
                audio3.playbackRate = 1.5;

                //faites pas attention à ce truc
                produitTab = '{{ ids|json_encode}}';
                let ids = produitTab.slice(1,produitTab.length).split(',');

                // for(let i = 0 ; i<produitTab.length ; i++){
                //     tabIds.push(produitTab[i].id)
                // }
                $('#megaboite').on('mousedown', function () {
                    tId = setTimeout(gigopening, 2000);

                }).on('mouseup mouseleave', function () {
                    clearTimeout(tId);
                });

                function gigopening() {
                    let indexLoot = 1;
                    if(nbCouronnes >= 200) {
                        $(".loot img").hide();
                        let produitsLoot = Array();
                        for (let i = 0; i < 5; i++) {
                            let randomId = Math.floor(Math.random() * Math.floor({{ ids|length }}));
                            if (!ids.includes(randomId.toString())) {
                                continue;
                            }
                            produitsLoot.push(randomId);
                        }
                        //Ajax pour les pack opening
                        $.ajax({
                            url: '/pack-opened',/*$(this).attr('action')*/
                            method: 'post',/*$(this).attr('method')*/
                            data: {produit: produitsLoot},
                            dataType: 'JSON'
                        }).done(function (data) {
                            $('#nbCouronnes').text(data.currentCouronnes);
                            nbCouronnes = data.currentCouronnes;

                            // for (let i = 0; i < data.images.length; i++) {
                                // setTimeout(function () {
                                //     $("#loot" + i).attr('src', data.images[i]).attr('data-original-title', data.names[i]).fadeIn(1000);
                                //     // audio1.play();
                                //     audio2.play();
                                //     // audio3.play();
                                // }, (i) * 1000);

                            // }

                            //AFFICHE LE PREMIER ITEM AUTOMATIQUEMENT
                            $("#loot0").attr('src', data.images[0]).attr('data-original-title', data.names[0]).fadeIn(200);
                            audio1.play();

                                $('#megaboite').on('click', function () {
                                    //SI Y'A PAS LE SON EN TRAIN DE JOUER là le "TING"
                                    if(audio2.paused && audio1.paused && audio3.paused) {
                                        if (indexLoot === data.images.length) {
                                            return;
                                        }
                                        // setTimeout(function () {
                                        $("#loot" + indexLoot).attr('src', data.images[indexLoot]).attr('data-original-title', data.names[indexLoot]).fadeIn(1000);
                                        if(indexLoot > 2){
                                            audio3.play();
                                        } else {
                                            audio2.play();
                                        }

                                        indexLoot++;
                                        console.log("indexlootapres : " + indexLoot)
                                        // }, (indexLoot) * 1000);
                                    }

                                });

                        });
                    } else{
                        $('#messagepackopening').fadeIn(500);
                    }
                }
            });
        }) ();
    </script>


{% endblock %}
